@page "/"
@inject NavigationManager NavManager
@inject ISqlDataAccess sql
@using ShopBackendLibrary.SqlDataAccess
@using Microsoft.AspNetCore.Components.QuickGrid
@using ShopBackendLibrary
@using ShopBackendLibrary.Models
@rendermode InteractiveServer
<h3>Landing Page</h3>


@if (items is null)
{
    <p><em>Loading...</em></p>
}
else
{ 
    <QuickGrid Items="items.AsQueryable()" Pagination="pagination">


        <TemplateColumn Title="View">
            <button class="btn btn-primary" onclick="@(() => ViewItem(context.ItemID))">View</button>
        </TemplateColumn>
        <TemplateColumn Title="Edit">
            <AuthorizeView Roles="Admin">
                <Authorized Context="Auth">
                    <button class="btn btn-primary" onclick="@(() => EditItem(context.ItemID))">Edit</button>
                </Authorized>
            </AuthorizeView>
        </TemplateColumn>

        <PropertyColumn Title="Item Name" Property="i => i.ItemName" Sortable="true"/>
        <PropertyColumn Title="Item Description" Property="i => i.ItemDescription" Sortable="true" />
        <PropertyColumn Title="Item Price" Property="i => i.ItemPrice" Sortable="true" />
        <PropertyColumn Title="Category ID" Property="i => i.CategoryID" Sortable="true" />
        <PropertyColumn Title="# In Stock" Property="i => i.InStock" Sortable="true" />

    </QuickGrid>
    <Paginator State="@pagination" />
}
@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 12 };
    private List<Item> items = new();
    protected override async Task OnInitializedAsync()
    {
        await LoadItems();
    }
    private async Task LoadItems()
    {
        items = await sql.LoadData<Item>("dbo.GetAllItems", "Default", null);
    }
    private async Task ViewItem(Guid ItemId)
    {
        NavManager.NavigateTo($"/viewitem/{ItemId}");
    }
    private async Task EditItem(Guid ItemId)
    {
        NavManager.NavigateTo($"/edititem/{ItemId}");
    }
}
