<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OnlineShop</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Inventory
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories/3">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Figures
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories/1">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Vases
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories/2">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Brush/Pencil Holders
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="newitem">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> New Item
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
         
    </nav>
</div>

